body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    
h2 {
    margin: 0 auto;
    font-size: 35px;
    margin: 10px;
}
    
    
.flex-container {
    /* In order to use flex-box we need to first set our display property */
    display: flex;
    /* center the container horizontally */
    justify-content: center;
    /* this will center content vertically */
    align-items: center;
    /* tells the container to align the children in columns rather than rows */
}

.flex-column {
    height: 100%;
    width: 100%;
    flex-direction: column;
    /* tells the container to drop down once it reaches max-width */
}

.flex-wrap {
    flex-wrap: wrap;
    height: 432px;
    width: 432px;
}
    
    
.square {
    border: 2px solid rgba(0, 0, 0, .75);
    height: 140px;
    width: 140px;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
    
#reset-button {
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    height: 55px;
    width: 100px;
    margin: 10px;
}

/*Mon code commence ici*/
.square
{
    /*Utilisation de la nouvelle famille creer si dessous*/
    font-family: Agbalumo;
}
img
{
    /*Change la taille de l'image et rend l'image ronde*/
    width: 125px;
    border-radius: 60%;
}
footer
{
    /*Change l'emplacement des informations dans le footer*/
    display: flex;
    justify-content: space-between;
}
#Source
{
    /*Met la source en colomne*/
 display: flex;
  flex-direction: column;
}
.square:hover
{
    /*Change couleur background lorsque souris est dessus une case*/
    background-color: rgb(211, 239, 211);
    /*Change couleur ecriture lorsque souris est dessus une case*/
}
button:hover
{
    /*Change couleur background lorsque souris est dessus une case*/
    background-color: lightcoral;
}
img:hover
{
    /*Change emplacement image lorsque souris est dessus image*/
    transform: translateY(-25px);  
}
h4
{
    /*Change emplacement h4 au debut*/
    display: flex;
    justify-content: flex-start;
}
a
{
    /*Change taille lien a*/
    font-size: 0.90em;
}
/*Change fond si marque dans la case*/
.square.checked:hover {
    background-color: rgb(232, 179, 179);
    color: red;
}
/*Personalisation de l`ecriture sur la balise texte avec un id ""*/
#Moi
{
    animation: changerCouleurMoi 10s infinite alternate;
}
@font-face {
    /*Creation nouvelle famille d'ecriture*/
    font-family: Agbalumo;
    src: url(/Assets/Agbalumo/Agbalumo-Regular.ttf);
}
/*Creation d'une animation de couleur*/
@keyframes changerCouleurMoi
{
    0%
    {
        color: blue;
    }
    25%
    {
        color: lightskyblue;
    }
    50%
    {
        color: rgb(164, 245, 245);
    }
    75%
    {
        color: rgb(134, 244, 229);
    }
    100%
    {
        color: rgb(83, 240, 187);
    }
}